.adv-card {
  margin: 1rem auto;
}

.adv-actions {
  text-align: right;
}

.adv-photo {
  height: 10em;
  width: 10em;
  margin: 1rem auto;
}

.adv-card-right {
  display: inline;
  float: right;
}

.adv-card-left {
  display: inline;
}

.adv-price {
  color: #2e7d32;
}
