<mat-card *ngIf="this.advertisement">
  <mat-card-title class="adv-title">{{
    this.advertisement.title
  }}</mat-card-title>
  <mat-card-title class="adv-price"
    >{{ this.advertisement.price }} €</mat-card-title
  >

  <br />

  <mat-card-content>
    <div class="adv-main">
      <div class="adv-main_item">
        <p class="adv-main_item-title">Città</p>
        <p class="adv-main_item-data adv-city">
          {{ this.advertisement.userCity }}
        </p>
      </div>

      <div class="adv-main_item">
        <p class="adv-main_item-title">Categoria</p>
        <p class="adv-main_item-data adv-category">
          {{ this.advertisement.category | titlecase }}
        </p>
      </div>

      <div class="adv-main_item">
        <p class="adv-main_item-title">Proprietario</p>
        <p class="adv-main_item-data adv-owner">
          {{ this.advertisement.userName | titlecase }}
        </p>
      </div>

      <div class="adv-main_item">
        <p class="adv-main_item-title">Data Inserimento</p>
        <p class="adv-main_item-data adv-createdAt">
          {{ this.advertisement.createdAt | date: "dd/MM/yyyy HH:mm" }}
        </p>
      </div>
    </div>

    <div class="adv-description-item">
      <p class="adv-description-title">Descrizione</p>
      <p class="adv-description-data adv-description">
        {{ this.advertisement.description }}
      </p>
    </div>
  </mat-card-content>

  <mat-card-actions class="adv-actions">
    <a
      href="mailto:{{ this.advertisement.userEmail }}"
      mat-button
      class="mat-raised-button mat-primary adv-contact"
    >
      Contatta Proprietario
    </a>
  </mat-card-actions>
</mat-card>
