.adv-price {
  display: inline;
  float: right;
  color: #2e7d32;
}

.adv-title {
  display: inline;
}

.adv-actions {
  text-align: center;
}

.adv-main_item {
  margin: 1rem auto;
}

.adv-main_item-title,
.adv-description-title {
  font-weight: bold;
}
