<mat-card>
  <mat-card-title class="adv-title"> Lampadario </mat-card-title>
  <mat-card-title class="adv-price"> 125 $ </mat-card-title>

  <br />

  <mat-card-content>
    <div class="adv-main">
      <div class="adv-main_item">
        <p class="adv-main_item-title">Città</p>
        <p class="adv-main_item-data">Roma</p>
      </div>

      <div class="adv-main_item">
        <p class="adv-main_item-title">Categoria</p>
        <p class="adv-main_item-data">Arredamento</p>
      </div>

      <div class="adv-main_item">
        <p class="adv-main_item-title">Proprietario</p>
        <p class="adv-main_item-data">Mario Rossi</p>
      </div>

      <div class="adv-main_item">
        <p class="adv-main_item-title">Data Inserimento</p>
        <p class="adv-main_item-data">12-12-2021 12:23</p>
      </div>
    </div>

    <div class="adv-description">
      <p class="adv-description-title">Descrizione</p>
      <p class="adv-description-data">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
        scelerisque mi nec erat fermentum egestas. Fusce sed ipsum elit.
        Phasellus dapibus venenatis leo, sit amet porttitor enim auctor vitae.
        Cras eget libero scelerisque, porttitor leo id, semper sapien. Praesent
        eu sodales dui, nec imperdiet quam. Aenean dictum, lectus et maximus
        sagittis, turpis tellus interdum ipsum, feugiat vestibulum velit justo
        sed ante. Phasellus condimentum condimentum risus eget iaculis.
      </p>
    </div>
  </mat-card-content>

  <mat-card-actions class="adv-actions">
    <button mat-button class="mat-raised-button mat-primary adv-contact">
      Contatta Proprietario
    </button>
  </mat-card-actions>
</mat-card>
