<mat-toolbar color="primary" class="mat-elevation-z6">
  <a
    *ngIf="!userIsAuthenticated"
    mat-button
    routerLink="/home"
    routerLinkActive="mat-accent"
  >
    <span>Home</span>
  </a>

  <a
    *ngIf="userIsAuthenticated"
    mat-button
    routerLink="/user/home"
    routerLinkActive="mat-accent"
  >
    <span>Home</span>
  </a>

  <a mat-button routerLink="/contacts" routerLinkActive="mat-accent">
    <span>Contacts</span>
  </a>

  <a mat-button routerLink="/about" routerLinkActive="mat-accent">
    <span>About</span>
  </a>

  <span class="fill-space"></span>

  <div
    *ngIf="this.userIsAuthenticated; then loggedInBlock; else loggedOutBlock"
  ></div>
  <ng-template #loggedInBlock>
    <a mat-button routerLink="/user/profile">
      <span>{{ this.currentUser?.email }}</span>
    </a>
    <a mat-button (click)="onLogout()">
      <span>Logout</span>
    </a>
  </ng-template>

  <ng-template #loggedOutBlock>
    <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">
      <span>Login</span>
    </a>
  </ng-template>
</mat-toolbar>
