<mat-toolbar color="primary" class="mat-elevation-z6">
  <a mat-button routerLink="/home/contacts">
    <span>Contacts</span>
  </a>

  <a mat-button routerLink="/home/about">
    <span>About</span>
  </a>

  <div
    *ngIf="this.userIsAuthenticated; then loggedInBlock; else loggedOutBlock"
  ></div>
  <ng-template #loggedInBlock>
    <a mat-button routerLink="/user/profile">
      <span>{{ this.currentUser?.email }}</span>
    </a>
    <a mat-button (click)="onLogout()">
      <span>Logout</span>
    </a>
  </ng-template>

  <ng-template #loggedOutBlock>
    <a mat-button routerLink="/auth/login">
      <span>Login</span>
    </a>
  </ng-template>
</mat-toolbar>
